@charset "utf-8";
#grid-wrap{
    display:grid;
    position:relative;
    border:1px solid black;
    margin-bottom:2rem;
    cursor:pointer;
}
.grid-cell{
    position:relative;
    border:1px solid black;
    user-select:none;
}

/*  */
#plt-wrap{
    display:flex; flex-flow:row wrap;
    justify-content:center; align-items:center;
    gap:10px;
    position:relative;
    padding:10px 20px; margin-bottom:2rem;
    background:var(--black); border-radius:4px;
}
.plt-clr-lbl{
    display:block;position:relative; overflow:hidden;
    width:40px; aspect-ratio:1/1;
    border:1px solid var(--black); border-radius:50%;
    cursor:pointer;
}

.plt-clr-lbl input{
    position:absolute;overflow:hidden;
    width:1px; height:1px;
}

.plt-clr{
    display:block;
    width:100%;aspect-ratio:1/1;
    border-radius:50%;
    pointer-events:none;
}
.plt-clr-lbl input:checked ~ .plt-clr{
    box-shadow:
        inset -3px -5px 5px 5px rgba(255,255,255,.1),
        inset 3px 5px 10px 3px rgba(0,0,0,.5);
}