@charset "utf-8";
#match-pair{
    display:grid;
    /* grid-template-columns:repeat(4,1fr); */
    /* grid-template-rows:repeat(4,1fr); */
    gap:10px;
    position:relative;
    min-width:80vmin;
    padding:20px; margin-bottom:40px;
    background:var(--white);
    border:var(--border-light);
    perspective:1200px;
}

/* 
https://3dtransforms.desandro.com/card-flip
*/
.card{
    position:relative;
    width:100%;aspect-ratio:1/1;
    min-width:130px;
    background:var(--white);
    border:1px solid #000; border-radius:3px;
    transform-style: preserve-3d;
    transition:transform .6s;
    cursor:pointer;
}

.card.flipped{
    transform:rotateY(180deg);
    transition:transform .3s;
}

/*  */
.card-face{
    position:absolute;
    width:100%;height:100%;
    top:0;left:0;
    backface-visibility:hidden;
    pointer-events:none;
}

.card-face-front{
    background:linear-gradient(to bottom,rgb(82, 104, 96),rgb(37, 47, 43));
}
.card-face-back{
    display:flex;
    justify-content:center;align-items:center;
    font-size:8vmin;
    transform:rotateY(180deg);
    background:rgb(0, 168, 104);
}
/*  */
#match-pair-attempt{
    margin-bottom:1em;
    font-size:2rem; font-weight:bold;
}
#match-pair-attempt::before{
    content:"Attempts"; vertical-align:middle;
    display:inline-block;
    padding:5px 10px; margin-right:.5em;
    background:var(--black);
    font-size:0.6em; color:var(--white);
}
/*  */
#match-pair-restart{margin-top:2rem;}

/* popup */
#popup{
    display:flex;
    justify-content:center; align-items:center;
    position:absolute;
    top:0;left:0;
    width:100%; height:100%;
    padding:1em;
    background:rgba(0,0,0,.5); 
    font-size:5vmin; text-align:center; color:var(--white);
    backdrop-filter:blur(3px);
} 